.storySection {
    background: #fff;
    margin-top: 0;
    margin-bottom: 0;
}

.display {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    letter-spacing: 1.5;
}

.history {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e2ff9f;
    padding: 20px;
    border: none;
    border-radius: 12px;
}

.historyPlace {
    font-size: 13px;
    line-height: 1.6;
    margin-bottom: 10px;
}
.brandMessage {
    font-size: 16px;
    font-weight: 700;
}
.brandImages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-bottom: 40px;
    margin-top: 20px;
}

.brandImages img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}
